@tailwind components;
@tailwind base;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 transition duration-100 ease-out transform border rounded-full cursor-pointer hover:shadow-lg active:scale-105 active:bg-gray-100;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8vw;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #FFFFFF !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FA8072;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFD5C2;
}

html {
  scroll-behavior: smooth;
}

/* .title{
  font-size: 8vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://image.freepik.com/free-vector/new-soft-pastel-blur-gradient-background_92086-57.jpg); 
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards ;
  position: cover;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
} */





.mapboxgl-popup-content{
  background-color: rgba(255, 255, 255, 0.95);

}

.mapboxgl-popup-close-button{
  padding: 5px;
}