@tailwind components;
@tailwind base;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2  border rounded-full hover:shadow-lg cursor-pointer active:scale-105 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8vw;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #FFFFFF !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FA8072;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFD5C2;
}

html {
  scroll-behavior: smooth;
}
